<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="browsermode" content="application"><meta name="full-screen" content="yes" /><meta name="x5-fullscreen" content="true" /><meta name="x5-page-mode" content="app" /><meta name="360-fullscreen" content="true" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,">
    <link rel="stylesheet" id="style" href="/static/css/red.css">
    <title></title>
  </head>
  <style>
       /* body{--btn-bg-color: #fed293;}
       body{
            background-color:var(--btn-bg-color);
       } */
  </style>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<script>
  function openwin(url) {
  window.open (url, "newwindow", "height=372, width=450, top=200,left=200 , toolbar =no, menubar=no, scrollbars=no, resizeable=no, location=no, status=no")
  }
  window.οnlοad=function(){
    // if(document.documentElement.scrollHeight <= document.documentElement.clientHeight) {
    //   bodyTag = document.getElementsByTagName('body')[0];
    //   bodyTag.style.height = document.documentElement.clientWidth / screen.width * screen.height + 'px';
    // }
    setTimeout(function() {
      window.scrollTo(0, 1)
    }, 0);
  };
</script>
